/* Style global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #eaeaea;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

.navbar {
    background-color: #444;
    padding: 10px 0;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar a:hover {
    text-decoration: underline;
    color: #ffd700; /* Couleur dorée pour l'effet au survol */
}

/* Style des sections */
main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.graph-section {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    padding: 20px;
}

.graph-section h2 {
    font-size: 1.75em;
    margin-bottom: 15px;
}

.graph-container {
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; /* Ajustez la hauteur en fonction des besoins */
    overflow: hidden;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}

footer h3 {
    margin-top: 0;
}

footer a {
    color: #ffd700;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
    }

    .navbar li {
        margin: 10px 0;
    }
}
